{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
{% endblock %}
{% block content %}
<div class="container form">
    <h1 class="text-center">Personal Todo List</h1>
{{ wtf.quick_form(form, novalidate) }}
</div>
<div class="container">
    <hr>
</div>
<div class="container gap">
    <table class="table table-striped">
        <thead>
            <tr>
              
              <th scope="col">Todo</th>
              <th scope="col" class="index"></th>
            </tr>
          </thead>
    {% for todo in todo_list %}
    <tr scope="row">
        <td>
            {{ todo['text'] }} 
        </td>     
        <td>
            <a href="{{ url_for('mark_done', todo_id=todo['id'])}}">✔️ Done</a>
        </td>  
    </tr>
    {% endfor %}
    </table>
</div>
<div class="container">
    <hr>
</div>
<div class="container gap">
    <table class="table table-striped">
        <thead>
            <tr>        
              <th scope="col">Completed Tasks</th>
              <th scope="col" class="index"></th>
            </tr>
          </thead>
    {% for done in done_list %}
    <tr scope="row">
        <td>
            {{ done['text'] }} 
        </td>
        <td>
            <a href="{{ url_for('delete', done_id=done['id'])}}">❌ Delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
